@font-face {
  font-family: 'TrendSansW00-Four';
  src: url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot');
  src: url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#TrendSansW00-Four')
      format('svg');
}

html {
  background-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  border: none;
  user-select: none;
  color: rgb(0, 48, 91);
  font-family: 'Georgia', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* general section */

.page-wrapper {
  padding: 10px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  width: auto;
  height: 100%;
  z-index: -1;
}

p {
  font-family: 'raleway-semibold', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

/* nav-bar and header section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.logo {
  display: flex;
}

.v-justify {
  margin: auto 0;
}

.pic-logo {
  height: 100px;
  margin-left: -20px;
}

.word-logo {
  height: 70px;
  margin-left: -40px;
}

.links {
  display: flex;
  height: inherit;
  gap: 40px;
  margin-right: 20px;
}

.nav-item {
  padding: 10px;
  margin: auto 0;
  font-size: 18px;
  border-width: 2px;
}

.links .nav-item {
  transition: border ease-in 200ms;
}

.links .nav-item:hover {
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top-color: rgb(0, 48, 91);
  border-bottom-color: rgb(0, 48, 91);
}

/* article section */

.gallery {
  margin: 2vw;
  border: 1px solid #ccc;
  float: left;
  width: 30vw;
}

.gallery:hover {
  border: 1px solid;
}

.gallery img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.desc {
  padding: 15px;
  text-align: center;
}

.center {
  display: inline-block;
  margin-left: 15vw;
  padding: 0px;
}

.sponsor_package {
  width: auto;
  position: relative;
  background: black;
  padding: 80px;
  color: white;
  text-align: center;
  display: inline-block;
}

.center1 {
  text-align: center;
}

.events_page {
  display: inline-block;
  font-family: 'raleway-semibold';
  font-size: 40px;
  width: auto;
  margin-top: 4vh;
}

.events_block {
  width: 25vw;
  height: auto;
  display: inline-block;
  text-align: center;
}

.events_page img {
  width: 80%;
  height: 20vw;
  border-radius: 50%;
}

.events_page button {
  display: inline-block;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px;
  color:rgb(0, 48, 91);
  font-family: "raleway";
  font-size: 20px;
  background-color: rgb(204, 219, 233);
}

.sub_events_pages {
  width: auto;
  text-align: center;
}

.sub_events_block {
  width: 20vw;
  height: 110vh;
  background-color: white;
  box-shadow: 0px 0px 5px lightgrey;
  text-align: left;
  display: inline-block;
  margin: 30px;
  vertical-align: top;
}

.sub_events_block p {
  font-family: 'raleway-semibold';
  color:rgb(0, 48, 91);
  font-size: 18px;
  margin: 30px;
}

.sub_events_block img {
  width: 100%;
  height: 20vw;
}

.button {
  display: inline-block;
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: black;
}

#title {
  font-family: 'TrendSansW00-Four', 'arial';
  font-size: 80px;
  color: #000;
  text-align: center;
  margin-top: 120px;
  /* user-select: none; */
}

#title2 {
  font-family: 'raleway';
  font-size: 40px;
  color: inherit;
  margin: 40px;
  text-align: center;
  padding: 20px;
}

#p1 {
  font-size: 20px;
  color: black;
  font-family: 'raleway-semibold', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 17vw;
}

.slide {
  height: 500px;
  /* border: 3px solid red; */
}

.active {
  display: block;
}

.inactive {
  display: none;
}

/* FAQ section */
.faq-heading{
    font-size: 20px;
    font-family:"raleway";
    margin-left: 16vw;
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  color: black;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    font-size: 20px;
    font-family: "raleway";
    color: #1D1D1D;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
    font-size: 20px;
    font-family: "raleway";
    width: 60%; 
    padding: auto;
    margin-bottom: 30px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    font-size: 20px;
    font-family: "raleway";
    padding: 10 0px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02714';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #1D1D1D;
    float: right;
    margin-left: 5px;
    font-family: "raleway";
    padding: 10 0px;
}
.active:after {
    content: "\2716";
    /* Unicode character for "minus" sign (-) */
}

/* footer section */

footer {
  background-color: rgb(0, 48, 91);
  color: white;
  height: 300px;
}

.footer-wrapper {
  width: 50%;
  min-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-wrapper a {
  text-decoration: none;
  color: inherit;
}
