@font-face {
  font-family: 'TrendSansW00-Four';
  src: url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot');
  src: url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#TrendSansW00-Four')
      format('svg');
}

:root {
  --main-theme-color: #0f4c85;
}

html {
  background-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  border: none;
  user-select: none;
  color: var(--main-theme-color);
  font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* general section */

.page-wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

p {
  font-family: 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 10pt;
  font-weight: 400;
  line-height: 2em;
}

/* nav-bar and header section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.logo {
  display: flex;
}

.v-justify {
  margin: auto 0;
}

.pic-logo {
  height: 100px;
  margin-left: -20px;
}

.word-logo {
  height: 70px;
  margin-left: -40px;
}

.links {
  display: flex;
  height: inherit;
  gap: 40px;
  margin-right: 20px;
}

.nav-item {
  padding: 10px;
  margin: auto 0;
  font-size: 18px;
  border-width: 2px;
}

.links .nav-item {
  transition: border ease-in 200ms;
}

.links .nav-item:hover {
  border-style: solid;
  border-color: var(--main-theme-color);
  border-left: none;
  border-right: none;
}

/* article section */

main {
  height: 100%;
}

.gallery {
  margin: 2vw;
  border: 1px solid #ccc;
  float: left;
  width: 30vw;
}

.gallery:hover {
  border: 1px solid;
}

.gallery img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.desc {
  padding: 15px;
  text-align: center;
}

.center {
  display: block;
  margin-left: 15vw;
  width: 100%;
  padding: 0px;
}

.sponsor_package {
  background-color: black;
  padding: 80px;
  color: white;
}

.button {
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: black;
}

.main .slide {
  height: 100%;
  /* border: 3px solid red; */
}

.main .slide.active {
  display: block;
}

.main .slide.inactive {
  display: none;
}

/* the first page a visiter sees */
.homepage .entry-point {
  display: flex;
  flex-direction: column;
  height: max-content;
  position: relative;
}

.homepage .main-bg {
  opacity: 0.4;
  min-width: 100vw;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.homepage .title-container {
  padding: 120px 0 50vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: black 0.3px solid;
}

#title {
  font-family: 'TrendSansW00-Four', 'arial';
  font-size: 80px;
  color: #000;
  text-align: center;
}

#motto {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.homepage .page-intro {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
}

.homepage .page-intro .intro-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.homepage .about-us {
  margin: 40px 15% 100px;
  /* border: 1px solid black; */
  border-radius: 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: 20px 20px 40px #bababa, -20px -20px 40px #ffffff;
}

.homepage .about-us-text-box {
  padding: 0 19% 100px;
  text-align: left;
}

/* ? */

#title2 {
  font-family: 'raleway';
  font-size: 40px;
  color: inherit;
  margin: 40px;
  text-align: center;
  padding: 20px;
}

#p1 {
  font-size: 20px;
  color: black;
  font-family: 'raleway-semibold', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 15vw;
}

/* footer section */

footer {
  border-top: black 0.3px solid;
  background-color: var(--main-theme-color);
  color: white;
  height: 300px;
}

.footer-wrapper {
  width: 50%;
  height: 220px;
  min-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-1st-floor {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-wrapper a {
  text-decoration: none;
  color: inherit;
}

.footer-img-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
